//========================================================================================================================================================
.clinic {
  position: relative;

  &.clinic--two {
    .clinic__title {
      @media (max-width: $mobile) {
        br {
          display: block;
        }
      }
    }

    .clinic__content {
      @media (max-width: $mobileSmall) {
        width: 100%;
      }
    }
  }
  // .clinic__container

  &__container {
  }

  // .clinic__inner

  &__inner {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: rem(200) rem(0);

    @media (max-width: $mobile) {
      align-items: flex-end;
      padding: rem(200) rem(0) rem(39);
    }
  }

  // .clinic__content

  &__content {
    position: relative;
    z-index: 2;
    padding: rem(22) rem(23);

    background: rgba(145, 188, 229, 0.65);
    backdrop-filter: blur(10px);

    @media (min-width: $tablet) {
      margin-top: rem(100);
    }

    @media (max-width: $mobile) {
      padding: rem(22) rem(20);
    }
  }

  // .clinic__title

  &__title {
    font-size: rem(60);
    font-weight: 700;
    line-height: normal;

    @media (max-width: rem(1600)) {
      font-size: rem(45);
    }

    @media (max-width: $tablet) {
      font-size: rem(25);
    }

    @media (max-width: $mobile) {
      font-size: rem(20);
      br {
        display: none;
      }
    }
  }

  // .clinic__img

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    picture {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;

      object-fit: cover;
    }
  }
}

//========================================================================================================================================================

.reception {
  padding-bottom: rem(153);

  @media (max-width: $tablet) {
    padding-bottom: rem(84);
  }

  @media (max-width: $mobile) {
    padding-bottom: rem(129);
  }
  // .reception__container

  &__container {
  }

  // .reception__row

  &__row {
    display: flex;
    flex-direction: column;
    gap: rem(97);

    max-width: rem(768);

    @media (max-width: $tablet) {
      gap: rem(48);
    }

    @media (max-width: $mobile) {
      gap: rem(32);
    }
  }

  // .reception__column

  &__column {
    display: flex;
    flex-direction: column;
    gap: rem(35);

    @media (max-width: $mobile) {
      gap: rem(20);
    }
  }

  // .reception__title

  &__title {
  }

  // .reception__items

  &__items {
    display: flex;
    flex-direction: column;
    gap: rem(38);

    @media (max-width: $mobile) {
      gap: rem(20);
    }
  }

  // .reception__item

  &__item {
  }

  // .reception__item-title

  &__item-title {
    font-size: rem(16);
    font-weight: 700;
    line-height: normal;

    @media (max-width: $mobile) {
      font-size: rem(12);
    }
  }

  // .reception__item-person

  &__item-person {
    font-size: rem(16);
    font-weight: 400;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: rem(12);
    }
  }

  // .reception__item-address

  &__item-address {
    font-size: rem(16);
    font-weight: 400;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: rem(12);
    }
  }

  // .reception__item-info

  &__item-info {
    font-size: rem(16);
    font-weight: 400;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: rem(12);
    }
  }
}

//========================================================================================================================================================
