//========================================================================================================================================================
.question {
  padding-bottom: rem(150);

  @media (max-width: $tablet) {
    padding-bottom: rem(84);
  }

  @media (max-width: $mobile) {
    padding-bottom: rem(129);
  }
  // .question__container

  &__container {
  }

  // .question__title

  &__title {
    margin-bottom: rem(41);

    @media (max-width: $tablet) {
      margin-bottom: rem(48);
    }

    @media (max-width: $mobile) {
      margin-bottom: rem(19);
    }
  }

  // .question__inner

  &__inner {
    max-width: rem(1285);
  }

  // .question__spollers

  &__spollers {
    display: flex;
    flex-direction: column;
    gap: rem(29);

    margin-bottom: rem(36);
    .question__spoller[open] {
      border: rem(2) solid cl(ble);
    }

    @media (max-width: $tablet) {
      margin-bottom: rem(34);
      gap: rem(40);
    }

    @media (max-width: $mobile) {
      margin-bottom: rem(40);
    }
  }

  // .question__spoller

  &__spoller {
    padding: rem(48) rem(50) rem(51) rem(68);
    border: rem(2) solid rgba(217, 217, 217, 0.65);
    background: cl(whte);
    cursor: pointer;
    transition: all $time $tr 0s;
    min-height: rem(150);
    @media (max-width: em(1300)) {
      padding: rem(48) rem(38) rem(48) rem(28);
    }

    @media (max-width: $mobile) {
      min-height: rem(76);
      padding: rem(19) rem(18) rem(32) rem(15);
    }

    @media (any-hover: hover) {
      &:hover {
        border: rem(2) solid cl(ble);
      }
    }
  }

  // .question__spoller-title

  &__spoller-title {
    font-size: rem(20);
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);

    list-style: none;

    transition: all $time $tr 0s;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "";
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      background: cl(primary);
      transform: translate(0, rem(10)) rotate(0deg);

      --size: 37px;

      width: var(--size);
      height: var(--size);
      flex: 0 0 var(--size);

      transition: all $time $tr 0s;

      @media (max-width: $mobile) {
        --size: 25px;
        transform: translate(0, rem(0)) rotate(0deg);
      }
    }

    @media (max-width: $mobile) {
      font-size: rem(14);
      line-height: 120%;
      align-items: flex-start;
      gap: rem(86);

      br {
        display: none;
      }
    }

    &._spoller-active {
      &::after {
        transform: translate(0, rem(-11)) rotate(180deg);
        background: cl(ble);

        @media (max-width: $mobile) {
          transform: translate(0, rem(-3)) rotate(180deg);
        }
      }
    }
  }

  // .question__spoller-body

  &__spoller-body {
    padding-top: rem(22);
    max-width: rem(989);

    ul {
      margin-top: rem(20);
      display: flex;
      flex-direction: column;
      gap: rem(10);

      @media (max-width: $mobile) {
        gap: rem(5);
      }
      li {
        font-size: rem(16);
        line-height: normal;

        padding-left: rem(18);
        position: relative;
        color: #7c7878;

        @media (max-width: $mobile) {
          font-size: rem(12);
        }
        &::before {
          content: "";
          position: absolute;
          top: rem(2);
          left: rem(-4);

          --size: 13px;

          width: var(--size);
          height: var(--size);
          flex: 0 0 var(--size);

          border-radius: 50%;
          background: cl(ble);
        }
      }

      a {
        font-size: rem(16);
        font-weight: 700;
        text-decoration: underline;

        @media (any-hover: hover) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    ol {
      margin-top: rem(20);
      padding-left: rem(18);

      display: flex;
      flex-direction: column;
      gap: rem(10);

      @media (max-width: $mobile) {
        gap: rem(5);
        padding-left: rem(20);
      }
      li {
        font-size: rem(16);
        line-height: normal;

        position: relative;
        color: #7c7878;

        @media (max-width: $mobile) {
          font-size: rem(12);
        }
      }
    }
  }

  // .question__spoller-text

  &__spoller-text {
    color: #7c7878;

    font-size: rem(16);
    font-weight: 300;
    line-height: normal;

    display: flex;
    flex-direction: column;
    gap: rem(23);

    @media (max-width: $mobile) {
      font-size: rem(12);
      gap: rem(15);
      br {
        display: none;
      }
    }
  }

  // .question__link

  &__link {
    font-size: rem(20);
    font-weight: 700;
    line-height: normal;
    padding: rem(18) rem(32);
    background: cl(ble);
    color: cl(whte);

    display: flex;

    transition: all $time $tr 0s;

    max-width: max-content;
    margin: 0 auto;

    @media (max-width: $mobile) {
      font-size: rem(16);
      padding: rem(12) rem(32) rem(13);
    }

    @media (any-hover: hover) {
      &:hover {
        background: cl(primary);
      }
    }
  }
}

//========================================================================================================================================================
